target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
payment-ws/src/main/resources/application-local.properties
payment-ws/src/main/resources/db/changelog/changelog-local.xml
payment-notifications/src/main/resources/application-local.properties
payment-notifications/src/main/resources/db/changelog/changelog-local.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Terraform ###
*.tfstate
*.tfstate.backup
*.tfvars
.terraform
creds
tfplan